@charset "UTF-8";

@font-face {
    font-family: 'GowunBatang-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button,
select,
figure,
span {
    padding: 0;
    margin: 0;
}

ul,
ol {
    list-style: none;
}

html {
    font-size: 14px;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: 'SpoqaHanSansNeo-Regular';
    font-weight: bold;
}

body {
    font-family: 'GowunBatang-Regular', 'SpoqaHanSansNeo-Regular', 'Noto Sans', sans-serif;
    word-break: keep-all;
    line-height: 24px;

    position: relative;
    /* header 기준 */

    /* cursor: url(../images/icon/icon_cursor.png), auto; */
}

#wrap {
    min-width: 1600px;
}

/* scroll top */
.top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 99;


    display: none;
    /* background-color: #081120; */

    width: 40px;

    text-align: center;
    padding: 5px 5px 0;
}

.top img {
    width: 50px;
    display: block;
}

/* main_wrap */
#main_wrap {
    height: 900px;

    background-image: url(../images/sub1_about/banner.png);
    background-position: center top;
    background-repeat: no-repeat;

}

.main_banner {
    width: 1320px;
    height: 900px;
    margin: 0 auto;

    position: relative;
}

.word {
    position: absolute;
    left: 50%;
    top: 200px;
    transform: translateX(-50%);

    color: #fff;

    letter-spacing: 10px;
    font-size: 30px;

    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;

    animation: typing .5s steps(12), blink .5s step-end infinite alternate;
    width: 19ch;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

.round {
    position: absolute;
    left: 50%;
    top: 300px;
    transform: translateX(-50%);
}

.round img {
    width: 600px;

    animation: Round 20s linear infinite;
}

@keyframes Round {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(200deg);
    }
}

/* info */
#info_box {
    color: #fff;
    font-family: 'SpoqaHanSansNeo-Regular';
    font-weight: lighter;

    width: 1320px;
    height: 600px;
    margin: 100px auto 200px;

    position: relative;
}

.info {
    box-shadow: 5px 5px 5px #00000096;
    position: absolute;
    bottom: -50px;
    left: -50px;

    width: 600px;
    height: 410px;
    padding: 5px 0;

    background-color: #212529;
    text-align: center;
    font-weight: bold;
}

.info h1 {
    margin: 50px 0;
    font-weight: lighter;
}

.info_img {
    float: right;
    width: 1320px;
    height: 600px;

}

.info_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* tip */
#tip_wrap {
    width: 1320px;
    height: 600px;
    margin: 200px auto;

    position: relative;
    font-family: 'SpoqaHanSansNeo-Regular';
}

.tip_text {
    position: absolute;
    bottom: -50px;
    right: -50px;

    width: 600px;
    height: 300px;
    padding: 50px;
    box-sizing: border-box;

    background-color: #dad7cd;
    text-align: center;
    font-weight: lighter;

    box-shadow: 5px 5px 5px #00000096;
    /* border-radius: 10px; */
}

.tip_img {
    float: left;
    width: 1320px;
    height: 600px;
}

.tip_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tip_text h1 {
    text-align: center;
    margin-bottom: 60px;
    font-weight: lighter;
}

.tip_text p {
    margin: 20px 0;

}

.typing1 {
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid;

    animation: typing 2s steps(12), blink .5s step-end infinite alternate;
    animation-delay: 2s;
    width: 35ch;
}

.typing2 {
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid;

    animation: typing 2s steps(12), blink .5s step-end infinite alternate;
    width: 30ch;
    animation-delay: 3s;
}

.typing3 {
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid;

    animation: typing 2s steps(12), blink .5s step-end infinite alternate;
    animation-delay: 5s;
    width: 44ch;
}



/* history_box */
#history_box {
    width: 1320px;
    height: 1600px;
    margin: 100px auto;
}

#history_box>h1 {
    text-align: center;
    margin: 100px 0;
}

.history {
    display: flex;
    justify-content: space-between;
}

.left {
    width: 650px;
    height: 1500px;
    overflow: hidden;
}

.right {
    width: 600px;
    height: 1500px;

    background-image: url(../images/sub1_about/history.png);
    background-repeat: no-repeat;

    position: relative;

    text-align: left;
    line-height: 3em;
}

/* swiper */
#slide_wrap {
    width: 650px;
    margin: 0 auto;
    height: 1500px;
    position: relative;

    opacity: 1;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    opacity: 1;

    display: flex;
    
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    width: auto;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* right */
.right>div>h1 {
    font-size: 40px;
    margin-top: 30px;
}

.text4 {
    position: absolute;
    bottom: 10px;
    left: 100px;
}

.text3 {
    position: absolute;
    left: 100px;
    bottom: 360px;
}

.text2 {
    position: absolute;
    left: 100px;
    top: 570px;
}

.text1 {
    position: absolute;
    left: 100px;
    top: 240px;
}

.text {
    position: absolute;
    left: 100px;
}

.text h1 {
    display: inline-block;
    padding-left: 20px;
}

/* video_wrap */
#video_wrap {
    overflow: hidden;
    background-color: #000;
}

video {
    width: 1000px;
    height: 600px;
    margin: 0 auto;

    padding: 100px 0;
    object-fit: cover;
    display: block;
}

#footer {
    border-top: 1px solid #fff;
    background-color: #000!important;
}
